# Recommendations with IBM

In this notebook, you will be putting your recommendation skills to use on real data from the IBM Watson Studio platform. 


You may either submit your notebook through the workspace here, or you may work from your local machine and submit through the next page.  Either way assure that your code passes the project [RUBRIC](https://review.udacity.com/#!/rubrics/2322/view).  **Please save regularly.**

By following the table of contents, you will build out a number of different methods for making recommendations that can be used for different situations. 


## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>
IV. [Content Based Recommendations (EXTRA - NOT REQUIRED)](#Content-Recs)<br>
V. [Matrix Factorization](#Matrix-Fact)<br>
VI. [Extras & Concluding](#conclusions)

At the end of the notebook, you will find directions for how to submit your work.  Let's get started by importing the necessary libraries and reading in the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2
...,...,...,...
45988,1324.0,ibm watson facebook posts for 2015,d21b998d7a4722310ceeaa3c6aaa181a36db2d73
45989,142.0,neural networks for beginners: popular types a...,d21b998d7a4722310ceeaa3c6aaa181a36db2d73
45990,233.0,bayesian nonparametric models – stats and bots,4faeed980a7cd11e0f3cf2058cc04daa2ef11452
45991,1160.0,analyze accident reports on amazon emr spark,abbf639ba05daa5249c520e290283a6d726ba78d
45992,16.0,higher-order logistic regression for large dat...,1f18e8aaccd6c8720180c3fe264c8aef5b00697f

In [2]:
# Show df_content to get an idea of the data
df_content

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4
...,...,...,...,...,...
1051,PouchDB-find is a new API and syntax that allo...,PouchDB uses MapReduce as its default search m...,A look under the covers of PouchDB-find,Live,1046
1052,We compare discriminative and generative learn...,We compare discriminative and generative learn...,A comparison of logistic regression and naive ...,Live,1047
1053,"Essays about data, building products and boots...",In order to demystify some of the magic behind...,What I Learned Implementing a Classifier from ...,Live,1048
1054,NaN,Learn how to use IBM dashDB as data store for ...,Use dashDB with Spark,Live,1049
1055,Homepage Follow Sign in / Sign up Homepage * H...,Once you get used to developing in a Notebook ...,"Jupyter Notebooks with Scala, Python, or R Ker...",Live,1050

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [3]:
df.groupby(['email']).count()['article_id'].sort_values(ascending=False)

email
2b6c0f514c2f2b04ad3c4583407dccd0810469ee    364
77959baaa9895a7e2bdc9297f8b27c1b6f2cb52a    363
2f5c7feae533ce046f2cb16fb3a29fe00528ed66    170
a37adec71b667b297ed2440a9ff7dad427c7ac85    169
8510a5010a5d4c89f5b07baac6de80cd12cfaf93    160
                                           ...
efdb4c363358224cd99d45053e2dbddf659e25ce      1
3fac88958dc7903b380743597f44a79cf76ea128      1
9c4b5dda1282c94128a7dc778951a313cce8055b      1
3fbe4978a20ee5ddc07648f2762b808ea18cedd1      1
6755c5d49a97e785583f65a92f72bc09459905a9      1
Name: article_id, Length: 5148, dtype: int64

In [4]:
# Fill in the median and maximum number of user_article interactios below

# 50% of individuals interact with ____ number of articles or fewer.
median_val = df.groupby(['email']).count()['article_id'].median()


# The maximum number of user-article interactions by any 1 user is ______.
max_views_by_user = df.groupby(['email']).count()['article_id'].max()

print('Median number is: {}'.format(median_val))
print('Max number is: {}'.format(max_views_by_user))

Median number is: 3.0
Max number is: 364

`2.` Explore and remove duplicate articles from the **df_content** dataframe.

In [5]:
# Find and explore duplicate articles
df_content.duplicated().sum()

0

In [6]:
# Remove any rows that have the same article_id - only keep the first
df_content.drop_duplicates(subset='article_id', keep='first', inplace=True)

`3.` Use the cells below to find:

**a.** The number of unique articles that have an interaction with a user.  
**b.** The number of unique articles in the dataset (whether they have any interactions or not).<br>
**c.** The number of unique users in the dataset. (excluding null values) <br>
**d.** The number of user-article interactions in the dataset.

In [7]:
df.email.nunique()

5148

In [8]:
df.shape[0]

45993

In [9]:
df.article_id.nunique()

714

In [10]:
df_content.article_id.nunique()

1051

In [11]:
# The number of unique articles that have at least one interaction
unique_articles = df.article_id.unique().shape[0]

# The number of unique articles on the IBM platform
total_articles = df_content.article_id.nunique()

# The number of unique users
unique_users = df.email.nunique()

# The number of user-article interactions
user_article_interactions = df.shape[0]

`4.` Use the cells below to find the most viewed **article_id**, as well as how often it was viewed.  After talking to the company leaders, the `email_mapper` function was deemed a reasonable way to map users to ids.  There were a small number of null values, and it was found that all of these null values likely belonged to a single user (which is how they are stored using the function below).

In [12]:
df.groupby(['article_id']).count()['email'].idxmax().astype(str)

'1429.0'

In [13]:
df.groupby(['article_id']).count()['email'].max()

937

In [14]:
# The most viewed article in the dataset as a string with one value following the decimal 
most_viewed_article_id = df.groupby(['article_id']).count()['email'].idxmax().astype(str)

# The most viewed article in the dataset was viewed how many times?
max_views = df.groupby(['article_id']).count()['email'].max()

In [15]:
## No need to change the code here - this will be helpful for later parts of the notebook
# Run this cell to map the user email to a user_id column and remove the email column

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

# show header
df.head()

   article_id                                              title  user_id
0      1430.0  using pixiedust for fast, flexible, and easier...        1
1      1314.0       healthcare python streaming application demo        2
2      1429.0         use deep learning for image classification        3
3      1338.0          ml optimization using cognitive assistant        4
4      1276.0          deploy your python model as a restful api        5

In [16]:
## If you stored all your results in the variable names above, 
## you shouldn't need to change anything in this cell

sol_1_dict = {
    '`50% of individuals have _____ or fewer interactions.`': median_val,
    '`The total number of user-article interactions in the dataset is ______.`': user_article_interactions,
    '`The maximum number of user-article interactions by any 1 user is ______.`': max_views_by_user,
    '`The most viewed article in the dataset was viewed _____ times.`': max_views,
    '`The article_id of the most viewed article is ______.`': most_viewed_article_id,
    '`The number of unique articles that have at least 1 rating ______.`': unique_articles,
    '`The number of unique users in the dataset is ______`': unique_users,
    '`The number of unique articles on the IBM platform`': total_articles
}

# Test your dictionary against the solution
t.sol_1_test(sol_1_dict)

It looks like you have everything right here! Nice job!

### <a class="anchor" id="Rank">Part II: Rank-Based Recommendations</a>

Unlike in the earlier lessons, we don't actually have ratings for whether a user liked an article or not.  We only know that a user has interacted with an article.  In these cases, the popularity of an article can really only be based on how often an article was interacted with.

`1.` Fill in the function below to return the **n** top articles ordered with most interactions as the top. Test your function using the tests below.

In [17]:
groupby = df.groupby(['article_id','title']).count()['user_id'].sort_values(ascending=False)[:10]
groupby

article_id  title
1429.0      use deep learning for image classification                            937
1330.0      insights from new york car accident reports                           927
1431.0      visualize car data with brunel                                        671
1427.0      use xgboost, scikit-learn & ibm watson machine learning apis          643
1364.0      predicting churn with the spss random tree algorithm                  627
1314.0      healthcare python streaming application demo                          614
1293.0      finding optimal locations of new store using decision optimization    572
1170.0      apache spark lab, part 1: basic concepts                              565
1162.0      analyze energy consumption in buildings                               512
1304.0      gosales transactions for logistic regression model                    483
Name: user_id, dtype: int64

In [18]:
df['title'].value_counts().index[:10]

Index(['use deep learning for image classification',
       'insights from new york car accident reports',
       'visualize car data with brunel',
       'use xgboost, scikit-learn & ibm watson machine learning apis',
       'predicting churn with the spss random tree algorithm',
       'healthcare python streaming application demo',
       'finding optimal locations of new store using decision optimization',
       'apache spark lab, part 1: basic concepts',
       'analyze energy consumption in buildings',
       'gosales transactions for logistic regression model'],
      dtype='object')

In [19]:
df['article_id'].value_counts().index[:10]

Float64Index([1429.0, 1330.0, 1431.0, 1427.0, 1364.0, 1314.0, 1293.0, 1170.0,
              1162.0, 1304.0],
             dtype='float64')

In [20]:
def get_top_articles(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    top_articles = df['title'].value_counts().index[:n]
    
    return top_articles # Return the top article titles from df (not df_content)

def get_top_article_ids(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    tomax_views = df['article_id'].value_counts().index[:n].astype('str')
    
    return tomax_views # Return the top article ids

In [21]:
print(get_top_articles(10))
print(get_top_article_ids(10))

Index(['use deep learning for image classification',
       'insights from new york car accident reports',
       'visualize car data with brunel',
       'use xgboost, scikit-learn & ibm watson machine learning apis',
       'predicting churn with the spss random tree algorithm',
       'healthcare python streaming application demo',
       'finding optimal locations of new store using decision optimization',
       'apache spark lab, part 1: basic concepts',
       'analyze energy consumption in buildings',
       'gosales transactions for logistic regression model'],
      dtype='object')
Index(['1429.0', '1330.0', '1431.0', '1427.0', '1364.0', '1314.0', '1293.0',
       '1170.0', '1162.0', '1304.0'],
      dtype='object')

In [22]:
# Test your function by returning the top 5, 10, and 20 articles
top_5 = get_top_articles(5)
top_10 = get_top_articles(10)
top_20 = get_top_articles(20)

# Test each of your three lists from above
t.sol_2_test(get_top_articles)

Your top_5 looks like the solution list! Nice job.
Your top_10 looks like the solution list! Nice job.
Your top_20 looks like the solution list! Nice job.

### <a class="anchor" id="User-User">Part III: User-User Based Collaborative Filtering</a>


`1.` Use the function below to reformat the **df** dataframe to be shaped with users as the rows and articles as the columns.  

* Each **user** should only appear in each **row** once.


* Each **article** should only show up in one **column**.  


* **If a user has interacted with an article, then place a 1 where the user-row meets for that article-column**.  It does not matter how many times a user has interacted with the article, all entries where a user has interacted with an article should be a 1.  


* **If a user has not interacted with an item, then place a zero where the user-row meets for that article-column**. 

Use the tests to make sure the basic structure of your matrix matches what is expected by the solution.

In [23]:
# create the user-article matrix with 1's and 0's

def create_user_item_matrix(df):
    '''
    INPUT:
    df - pandas dataframe with article_id, title, user_id columns
    
    OUTPUT:
    user_item - user item matrix 
    
    Description:
    Return a matrix with user ids as rows and article ids on the columns with 1 values where a user interacted with 
    an article and a 0 otherwise
    '''
    # Fill in the function here
    user_item = df.groupby(['user_id','article_id'])['title'].agg(lambda x: 1).unstack().fillna(0)
    
    return user_item # return the user_item matrix 

user_item = create_user_item_matrix(df)

In [24]:
user_item.head()

article_id,0.0,2.0,4.0,8.0,9.0,12.0,14.0,15.0,16.0,18.0,...,1434.0,1435.0,1436.0,1437.0,1439.0,1440.0,1441.0,1442.0,1443.0,1444.0
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
user_item.shape[0]

5149

In [26]:
user_item.shape[1]

714

In [27]:
user_item.sum(axis=1)[1]

36.0

In [28]:
## Tests: You should just need to run this cell.  Don't change the code.
assert user_item.shape[0] == 5149, "Oops!  The number of users in the user-article matrix doesn't look right."
assert user_item.shape[1] == 714, "Oops!  The number of articles in the user-article matrix doesn't look right."
assert user_item.sum(axis=1)[1] == 36, "Oops!  The number of articles seen by user 1 doesn't look right."
print("You have passed our quick tests!  Please proceed!")

You have passed our quick tests!  Please proceed!

`2.` Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar).  The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users. 

Use the tests to test your function.

In [29]:
similarity = user_item[user_item.index == 1].dot(user_item.T)
similarity

user_id,1,2,3,4,5,6,7,8,9,10,...,5140,5141,5142,5143,5144,5145,5146,5147,5148,5149
user_id,,,,,,,,,,,,,,,,,,,,,
1,36.0,2.0,6.0,3.0,0.0,4.0,1.0,6.0,4.0,7.0,...,7.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0

In [30]:
similarity.shape[0]

1

In [31]:
def find_similar_users(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    Description:
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered
    
    '''
    # compute similarity of each user to the provided user
    similarity = user_item[user_item.index == user_id].dot(user_item.T)
    
    # sort by similarity
    similarity=similarity.sort_values(by = user_id, axis=1, ascending=False)
    
    # create list of just the ids
    most_similar_users = similarity.columns.tolist()
    
    # remove the own user's id
    most_similar_users.remove(user_id)
    
    return most_similar_users # return a list of the users in order from most to least similar

In [32]:
# Do a spot check of your function
print("The 10 most similar users to user 1 are: {}".format(find_similar_users(1)[:10]))
print("The 5 most similar users to user 3933 are: {}".format(find_similar_users(3933)[:5]))
print("The 3 most similar users to user 46 are: {}".format(find_similar_users(46)[:3]))

The 10 most similar users to user 1 are: [3933, 23, 3782, 203, 4459, 3870, 131, 4201, 46, 5041]
The 5 most similar users to user 3933 are: [1, 23, 3782, 203, 4459]
The 3 most similar users to user 46 are: [4201, 3782, 23]

`3.` Now that you have a function that provides the most similar users to each user, you will want to use these users to find articles you can recommend.  Complete the functions below to return the articles you would recommend to each user.

In [33]:
user_item.loc[10][user_item.loc[10]==1]

article_id
173.0     1.0
310.0     1.0
585.0     1.0
898.0     1.0
932.0     1.0
939.0     1.0
1170.0    1.0
1171.0    1.0
1172.0    1.0
1174.0    1.0
1185.0    1.0
1305.0    1.0
1314.0    1.0
1330.0    1.0
1336.0    1.0
1360.0    1.0
1422.0    1.0
1427.0    1.0
1429.0    1.0
Name: 10, dtype: float64

In [34]:
user_item.loc[10][user_item.loc[10] == 1].index.tolist()

[173.0,
 310.0,
 585.0,
 898.0,
 932.0,
 939.0,
 1170.0,
 1171.0,
 1172.0,
 1174.0,
 1185.0,
 1305.0,
 1314.0,
 1330.0,
 1336.0,
 1360.0,
 1422.0,
 1427.0,
 1429.0]

In [35]:
def get_article_names(article_ids, df=df):
    '''
    INPUT:
    article_ids - (list) a list of article ids
    df - (pandas dataframe) df as defined at the top of the notebook
    
    OUTPUT:
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the title column)
    '''
    # Your code here
    article_names = df[df['article_id'].isin(article_ids)]['title'].unique().tolist()
    
    #article_names = []
    
    #for article in article_ids:
    #    article_title = df[df['article_id'] == float(article)].max()['title']
    #    article_names.append(article_title)
    
    return article_names # Return the article names associated with list of article ids


def get_user_articles(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    article_ids - (list) a list of the article ids seen by the user
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the doc_full_name column in df_content)
    
    Description:
    Provides a list of the article_ids and article titles that have been seen by a user
    '''
    # Your code here
    article_ids = user_item.loc[user_id][user_item.loc[user_id] == 1].index.tolist()
    article_ids = list(map(str,article_ids))
    article_names = get_article_names(article_ids)
    
    return article_ids, article_names # return the ids and names


def user_user_recs(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    # Your code here    
       
    most_similar_users = find_similar_users(user_id)
    
    for u in most_similar_users:
        recs = np.setdiff1d(get_user_articles(u)[0], get_user_articles(user_id))
            
        if len(recs) >= m:
            recs = recs[:m]
            
            break                            
           
    return recs # return your recommendations for this user_id

In [36]:
get_article_names(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])

['healthcare python streaming application demo',
 'use xgboost, scikit-learn & ibm watson machine learning apis',
 'gosales transactions for naive bayes model',
 'use r dataframes & ibm watson natural language understanding',
 'build a python app on the streaming analytics service',
 'using deep learning to reconstruct high-resolution audio']

In [37]:
get_user_articles([20])

(['20'], ['working interactively with rstudio and notebooks in dsx'])

In [38]:
user_user_recs(1)

array(['1000.0', '1014.0', '1025.0', '1051.0', '108.0', '1101.0',
       '1148.0', '1159.0', '1160.0', '1162.0'], dtype='<U6')

In [39]:
# Check Results
get_article_names(user_user_recs(1, 10)) # Return 10 recommendations for user 1

['analyze energy consumption in buildings',
 'analyze accident reports on amazon emr spark',
 '520    using notebooks with pixiedust for fast, flexi...\nName: title, dtype: object',
 '1448    i ranked every intro to data science course on...\nName: title, dtype: object',
 'data tidying in data science experience',
 'airbnb data for analytics: vancouver listings',
 'recommender systems: approaches & algorithms',
 'airbnb data for analytics: mallorca reviews',
 'analyze facebook data using ibm watson and watson studio',
 'a tensorflow regression model to predict house values']

In [40]:
# Test your functions here - No need to change this code - just run this cell
assert set(get_article_names(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_article_names(['1320.0', '232.0', '844.0'])) == set(['housing (2015): united states demographic measures','self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_user_articles(20)[0]) == set(['1320.0', '232.0', '844.0'])
assert set(get_user_articles(20)[1]) == set(['housing (2015): united states demographic measures', 'self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook'])
assert set(get_user_articles(2)[0]) == set(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])
assert set(get_user_articles(2)[1]) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis'])
print("If this is all you see, you passed all of our tests!  Nice job!")

If this is all you see, you passed all of our tests!  Nice job!

`4.` Now we are going to improve the consistency of the **user_user_recs** function from above.  

* Instead of arbitrarily choosing when we obtain users who are all the same closeness to a given user - choose the users that have the most total article interactions before choosing those with fewer article interactions.


* Instead of arbitrarily choosing articles from the user where the number of recommended articles starts below m and ends exceeding m, choose articles with the articles with the most total interactions before choosing those with fewer total interactions. This ranking should be  what would be obtained from the **top_articles** function you wrote earlier.

In [41]:
user_sim = np.dot(user_item,user_item.T)
user_sim

array([[36.,  2.,  6., ...,  0.,  0.,  0.],
       [ 2.,  6.,  1., ...,  0.,  0.,  0.],
       [ 6.,  1., 40., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.]])

In [42]:
user_sim.shape[0]

5149

In [43]:
df.groupby(['user_id']).count()['title'].sort_values(ascending=False)

user_id
23      364
3782    363
98      170
3764    169
203     160
       ...
2534      1
2533      1
2532      1
2530      1
2575      1
Name: title, Length: 5149, dtype: int64

In [44]:
df.groupby('user_id').count()['title'].sort_values(ascending=False).drop(10)

user_id
23      364
3782    363
98      170
3764    169
203     160
       ...
2534      1
2533      1
2532      1
2530      1
2575      1
Name: title, Length: 5148, dtype: int64

In [45]:
def get_top_sorted_users(user_id, df=df, user_item=user_item):
    '''
    INPUT:
    user_id - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
            1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    neighbors_df - (pandas dataframe) a dataframe with:
                    neighbor_id - is a neighbor user_id
                    similarity - measure of the similarity of each user to the provided user_id
                    num_interactions - the number of articles viewed by the user - if a u
                    
    Other Details - sort the neighbors_df by the similarity and then by number of interactions where 
                    highest of each is higher in the dataframe
     
    '''
    # Your code here
    neighbors_df = pd.DataFrame(columns=['neighbor_id','similarity','num_interactions'])
    
    user_sim = np.dot(user_item,user_item.T)
    
      
    index = range(1, user_sim.shape[0]+1)
    
    user_sim = pd.DataFrame(user_sim, index=index, columns=index)
    
    user_sim = user_sim.loc[user_id]
    
    user_sim = user_sim.drop(user_id, axis=0)
    
    neighbors_df.neighbor_id = user_sim.index
    
    neighbors_df.index = user_sim.index
    
    neighbors_df.similarity = user_sim
   
    neighbors_df.num_interactions = df.groupby('user_id').count().sort_values('title',ascending=False).drop(user_id)
    
    neighbors_df = neighbors_df.sort_values(by=['similarity','num_interactions'],ascending=False) # Return the dataframe specified in the doc_string
    
    
    return neighbors_df # Return the dataframe specified in the doc_string
   
def user_user_recs_part2(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user by article id
    rec_names - (list) a list of recommendations for the user by article title
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    * Choose the users that have the most total article interactions 
    before choosing those with fewer article interactions.

    * Choose articles with the articles with the most total interactions 
    before choosing those with fewer total interactions. 
   
    '''
    # Your code here
    
    recs = []
    rec_names =[]
        
    # Article ids the user has seen already
    articles_seen = get_user_articles(user_id, user_item=user_item)[0]
    
    # Get a litst of sorted similar users i.e neighbor users by using get_top_sorted_users
    most_similar_users = get_top_sorted_users(user_id).neighbor_id.values.tolist()
    
    # Find the articles seen by similar users and add them to recs \
    # if they 1. are not in recs yet and 2. haven't been seen by the user
    for user in most_similar_users:    
        article_ids = get_user_articles(user, user_item=user_item)[0]
        recs.extend(np.setdiff1d(article_ids, recs, assume_unique=True))
        
        # Remove the articles the user has seen if it was added to rec
        for r in recs:
            if r in articles_seen:
                recs.remove(r)
        
        # if the number of recs exceeds m, get the first m articles in rec
        if len(recs) > m-1:
            recs = recs[:m]
            break
       
    
    rec_names = get_article_names(recs)
    
    
    return recs, rec_names

In [46]:
get_top_sorted_users(4)

      neighbor_id  similarity  num_interactions
4145         4145        26.0                44
49             49        18.0               147
3697         3697        17.0               145
23             23        16.0               364
3782         3782        15.0               363
...           ...         ...               ...
5131         5131         0.0                 1
5141         5141         0.0                 1
5144         5144         0.0                 1
5147         5147         0.0                 1
5149         5149         0.0                 1

[5148 rows x 3 columns]

In [47]:
get_top_sorted_users(20)

      neighbor_id  similarity  num_interactions
170           170         2.0               116
3169         3169         2.0               114
204           204         2.0                97
5138         5138         2.0                95
40             40         2.0                78
...           ...         ...               ...
5141         5141         0.0                 1
5144         5144         0.0                 1
5147         5147         0.0                 1
5148         5148         0.0                 1
5149         5149         0.0                 1

[5148 rows x 3 columns]

In [48]:
# Quick spot check - don't change this code - just use it to test your functions
rec_ids, rec_names = user_user_recs_part2(20, 10)
print("The top 10 recommendations for user 20 are the following article ids:")
print(rec_ids)
print()
print("The top 10 recommendations for user 20 are the following article names:")
print(rec_names)

The top 10 recommendations for user 20 are the following article ids:
['12.0', '109.0', '125.0', '142.0', '164.0', '205.0', '302.0', '336.0', '362.0', '465.0']

The top 10 recommendations for user 20 are the following article names:
['timeseries data analysis of iot events by using jupyter notebook', 'dsx: hybrid mode', 'accelerate your workflow with dsx', 'learn tensorflow and deep learning together and now!', "a beginner's guide to variational methods", 'tensorflow quick tips', 'challenges in deep learning', 'neural networks for beginners: popular types and applications', 'statistics for hackers', 'introduction to neural networks, advantages and applications']

`5.` Use your functions from above to correctly fill in the solutions to the dictionary below.  Then test your dictionary against the solution.  Provide the code you need to answer each following the comments below.

In [49]:
### Tests with a dictionary of results

user1_most_sim = get_top_sorted_users(1)['neighbor_id'].tolist()[0]# Find the user that is most similar to user 1 
user131_10th_sim = get_top_sorted_users(131)['neighbor_id'].tolist()[9]# Find the 10th most similar user to user 131

In [50]:
user1_most_sim

3933

In [51]:
user131_10th_sim

242

In [52]:
## Dictionary Test Here
sol_5_dict = {
    'The user that is most similar to user 1.': user1_most_sim, 
    'The user that is the 10th most similar to user 131': user131_10th_sim,
}

t.sol_5_test(sol_5_dict)

This all looks good!  Nice job!

`6.` If we were given a new user, which of the above functions would you be able to use to make recommendations?  Explain.  Can you think of a better way we might make recommendations?  Use the cell below to explain a better method for new users.

**Provide your response here.**

`7.` Using your existing functions, provide the top 10 recommended articles you would provide for the a new user below.  You can test your function against our thoughts to make sure we are all on the same page with how we might make a recommendation.

In [53]:
new_user = '0.0'

# What would your recommendations be for this new user '0.0'?  As a new user, they have no observed articles.
# Provide a list of the top 10 article ids you would give to 
new_user_recs = get_top_article_ids(10)# Your recommendations here

In [54]:
new_user_recs

Index(['1429.0', '1330.0', '1431.0', '1427.0', '1364.0', '1314.0', '1293.0',
       '1170.0', '1162.0', '1304.0'],
      dtype='object')

In [55]:
assert set(new_user_recs) == set(['1314.0','1429.0','1293.0','1427.0','1162.0','1364.0','1304.0','1170.0','1431.0','1330.0']), "Oops!  It makes sense that in this case we would want to recommend the most popular articles, because we don't know anything about these users."

print("That's right!  Nice job!")

That's right!  Nice job!

### <a class="anchor" id="Content-Recs">Part IV: Content Based Recommendations (EXTRA - NOT REQUIRED)</a>

Another method we might use to make recommendations is to perform a ranking of the highest ranked articles associated with some term.  You might consider content to be the **doc_body**, **doc_description**, or **doc_full_name**.  There isn't one way to create a content based recommendation, especially considering that each of these columns hold content related information.  

`1.` Use the function body below to create a content based recommender.  Since there isn't one right answer for this recommendation tactic, no test functions are provided.  Feel free to change the function inputs if you decide you want to try a method that requires more input values.  The input values are currently set with one idea in mind that you may use to make content based recommendations.  One additional idea is that you might want to choose the most popular recommendations that meet your 'content criteria', but again, there is a lot of flexibility in how you might make these recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [56]:
def make_content_recs():
    '''
    INPUT:
    
    OUTPUT:
    
    '''

`2.` Now that you have put together your content-based recommendation system, use the cell below to write a summary explaining how your content based recommender works.  Do you see any possible improvements that could be made to your function?  Is there anything novel about your content based recommender?

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

**Write an explanation of your content based recommendation system here.**

`3.` Use your content-recommendation system to make recommendations for the below scenarios based on the comments.  Again no tests are provided here, because there isn't one right answer that could be used to find these content based recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [57]:
# make recommendations for a brand new user


# make a recommendations for a user who only has interacted with article id '1427.0'

### <a class="anchor" id="Matrix-Fact">Part V: Matrix Factorization</a>

In this part of the notebook, you will build use matrix factorization to make article recommendations to the users on the IBM Watson Studio platform.

`1.` You should have already created a **user_item** matrix above in **question 1** of **Part III** above.  This first question here will just require that you run the cells to get things set up for the rest of **Part V** of the notebook.

In [58]:
# Load the matrix here
user_item_matrix = pd.read_pickle('user_item_matrix.p')

In [59]:
# quick look at the matrix
user_item_matrix.head()

article_id,0.0,100.0,1000.0,1004.0,1006.0,1008.0,101.0,1014.0,1015.0,1016.0,...,977.0,98.0,981.0,984.0,985.0,986.0,990.0,993.0,996.0,997.0
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

`2.` In this situation, you can use Singular Value Decomposition from [numpy](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.linalg.svd.html) on the user-item matrix.  Use the cell to perform SVD, and explain why this is different than in the lesson.

In [60]:
# Perform SVD on the User-Item Matrix Here

u, s, vt = np.linalg.svd(user_item_matrix, full_matrices = True) # use the built in to get the three matrices
u,s,vt

(array([[-4.30899801e-02,  8.30671762e-03,  2.75704572e-02, ...,
         -1.27811070e-04,  2.24739016e-04, -5.87795950e-03],
        [-1.03765691e-02,  1.64771768e-02,  6.04781444e-03, ...,
          1.39159638e-03,  9.70313392e-04, -8.89829524e-04],
        [-4.98474594e-02,  1.44789670e-03, -1.64960631e-02, ...,
          2.68524667e-03,  9.97002928e-04,  2.64647567e-03],
        ...,
        [-3.22580101e-05, -7.76317124e-05,  5.55685276e-05, ...,
          9.30982840e-01, -1.59308030e-04, -6.36954852e-04],
        [-2.46741942e-03,  3.80247363e-03, -4.46702539e-03, ...,
         -9.53369621e-05,  9.93255726e-01, -4.41990232e-04],
        [-4.91946427e-04, -1.00943223e-03,  4.99509739e-04, ...,
         -3.10174261e-04, -1.09083544e-04,  9.68245494e-01]]),
 array([5.53457037e+01, 2.32486418e+01, 2.17600228e+01, 2.06583341e+01,
        1.99708867e+01, 1.95569462e+01, 1.91632342e+01, 1.87197508e+01,
        1.83438615e+01, 1.80639261e+01, 1.76377686e+01, 1.74335474e+01,
        1.74301733e+01, 1.70930876e+01, 1.67638529e+01, 1.64669871e+01,
        1.64559512e+01, 1.63068949e+01, 1.61666030e+01, 1.57444047e+01,
        1.57038805e+01, 1.55878977e+01, 1.55013389e+01, 1.53746023e+01,
        1.52212789e+01, 1.50401111e+01, 1.49482365e+01, 1.47737529e+01,
        1.46704332e+01, 1.46097896e+01, 1.45312074e+01, 1.44025711e+01,
        1.43073643e+01, 1.40654598e+01, 1.38995696e+01, 1.38576259e+01,
        1.37810084e+01, 1.36388289e+01, 1.36055830e+01, 1.35749215e+01,
        1.35196309e+01, 1.33503810e+01, 1.33107854e+01, 1.31843779e+01,
        1.30764996e+01, 1.30470484e+01, 1.29137238e+01, 1.28999043e+01,
        1.27923679e+01, 1.26848013e+01, 1.26361984e+01, 1.26069082e+01,
        1.24039390e+01, 1.23562882e+01, 1.22810586e+01, 1.21600337e+01,
        1.21294028e+01, 1.20983395e+01, 1.20100229e+01, 1.19449827e+01,
        1.19335388e+01, 1.18192562e+01, 1.17660208e+01, 1.17113450e+01,
        1.16297027e+01, 1.15799753e+01, 1.14721374e+01, 1.14021968e+01,
        1.13255385e+01, 1.12968801e+01, 1.12121296e+01, 1.11029330e+01,
        1.10772469e+01, 1.09611247e+01, 1.09451910e+01, 1.08831594e+01,
        1.08319400e+01, 1.07571231e+01, 1.06870041e+01, 1.06441857e+01,
        1.05803518e+01, 1.05366876e+01, 1.04634654e+01, 1.04180469e+01,
        1.03771561e+01, 1.03662447e+01, 1.02972427e+01, 1.02237610e+01,
        1.01930571e+01, 1.01339378e+01, 1.01169304e+01, 1.00605483e+01,
        1.00018886e+01, 9.93186806e+00, 9.91523152e+00, 9.88725887e+00,
        9.83833681e+00, 9.81794312e+00, 9.79808989e+00, 9.74279916e+00,
        9.65791949e+00, 9.61063591e+00, 9.55883047e+00, 9.51331520e+00,
        9.48748290e+00, 9.45900984e+00, 9.39838850e+00, 9.36018902e+00,
        9.32590972e+00, 9.27660547e+00, 9.22234450e+00, 9.19492811e+00,
        9.12079895e+00, 9.08028506e+00, 9.04719849e+00, 9.01448607e+00,
        8.94330252e+00, 8.91267694e+00, 8.87882780e+00, 8.85559026e+00,
        8.81374437e+00, 8.78139555e+00, 8.70823928e+00, 8.64315751e+00,
        8.59659084e+00, 8.59089274e+00, 8.53272777e+00, 8.50286441e+00,
        8.48514063e+00, 8.42762658e+00, 8.42009926e+00, 8.40527042e+00,
        8.37288303e+00, 8.35604403e+00, 8.32677986e+00, 8.30086653e+00,
        8.24938269e+00, 8.20057355e+00, 8.18933771e+00, 8.14272125e+00,
        8.11444934e+00, 8.10420578e+00, 8.08620432e+00, 8.03714827e+00,
        8.03435923e+00, 7.98780703e+00, 7.94742524e+00, 7.90823847e+00,
        7.87805786e+00, 7.85398957e+00, 7.82775774e+00, 7.81104366e+00,
        7.76390298e+00, 7.74886149e+00, 7.73839798e+00, 7.69615259e+00,
        7.65996085e+00, 7.63113016e+00, 7.60482040e+00, 7.58811574e+00,
        7.54589770e+00, 7.52310211e+00, 7.49563792e+00, 7.44964803e+00,
        7.43085513e+00, 7.40567789e+00, 7.37869555e+00, 7.35476941e+00,
        7.30586187e+00, 7.29266284e+00, 7.26523271e+00, 7.22145211e+00,
        7.19880747e+00, 7.15331558e+00, 7.13863328e+00, 7.13034140e+00,
        7.08541261e+00, 7.04808650e+00, 7.04357453e+00, 7.03050132e+00,
        7.01032763e+00, 6.98657129e+00, 6.95974054e+00, 6.91059037e+00,
        6.86950831e+00, 6.83127731e+00, 6.82586163e+00, 6.80808512e+00,
        6.78169211e+00, 6.77536696e+00, 6.74540883e+00, 6.72600536e+00,
        6.69537884e+00, 6.67322552e+00, 6.65197879e+00, 6.63579835e+00,
        6.60456904e+00, 6.58102192e+00, 6.56098147e+00, 6.52976231e+00,
        6.51227257e+00, 6.49675351e+00, 6.47147417e+00, 6.44801276e+00,
        6.41872750e+00, 6.37532316e+00, 6.35586647e+00, 6.32965091e+00,
        6.30709431e+00, 6.27623526e+00, 6.25938849e+00, 6.23982897e+00,
        6.23078247e+00, 6.20891126e+00, 6.20088452e+00, 6.17234111e+00,
        6.14321030e+00, 6.10348533e+00, 6.08255754e+00, 6.05421974e+00,
        6.04398767e+00, 6.02552069e+00, 6.00245107e+00, 5.98865778e+00,
        5.96981173e+00, 5.96066667e+00, 5.93584006e+00, 5.88738844e+00,
        5.87946429e+00, 5.86845213e+00, 5.85225619e+00, 5.82207158e+00,
        5.78835052e+00, 5.77230349e+00, 5.75247863e+00, 5.73248156e+00,
        5.70414494e+00, 5.70350083e+00, 5.68447651e+00, 5.66670739e+00,
        5.65713461e+00, 5.61679181e+00, 5.60583162e+00, 5.58725591e+00,
        5.57313212e+00, 5.53267945e+00, 5.52220473e+00, 5.51223540e+00,
        5.50056731e+00, 5.49066387e+00, 5.46215406e+00, 5.42562817e+00,
        5.39816863e+00, 5.38684198e+00, 5.37887548e+00, 5.34758543e+00,
        5.33933318e+00, 5.31134464e+00, 5.30441619e+00, 5.29467028e+00,
        5.27110936e+00, 5.26113856e+00, 5.23614647e+00, 5.23013414e+00,
        5.21590406e+00, 5.20553050e+00, 5.16160064e+00, 5.14699168e+00,
        5.11957090e+00, 5.11021148e+00, 5.10045361e+00, 5.07484324e+00,
        5.05643010e+00, 5.04117683e+00, 5.03175203e+00, 5.00799720e+00,
        4.98757351e+00, 4.97415479e+00, 4.96850526e+00, 4.95510476e+00,
        4.91914825e+00, 4.90926126e+00, 4.88879760e+00, 4.87780406e+00,
        4.86462924e+00, 4.85409363e+00, 4.82792553e+00, 4.81112468e+00,
        4.80519464e+00, 4.77407754e+00, 4.77262582e+00, 4.76052276e+00,
        4.74233756e+00, 4.73909899e+00, 4.72464868e+00, 4.70695590e+00,
        4.69133076e+00, 4.66230409e+00, 4.63556566e+00, 4.62269159e+00,
        4.60961205e+00, 4.59337688e+00, 4.58622380e+00, 4.57372843e+00,
        4.54722829e+00, 4.52991503e+00, 4.52509516e+00, 4.50947617e+00,
        4.49897278e+00, 4.49449383e+00, 4.46943058e+00, 4.45395221e+00,
        4.44291146e+00, 4.42280618e+00, 4.41111791e+00, 4.40218052e+00,
        4.36206135e+00, 4.35549651e+00, 4.34546507e+00, 4.34297454e+00,
        4.32805340e+00, 4.31003682e+00, 4.30429999e+00, 4.29038786e+00,
        4.27087575e+00, 4.25139418e+00, 4.24359271e+00, 4.23062900e+00,
        4.22467891e+00, 4.20344923e+00, 4.18514808e+00, 4.17221161e+00,
        4.16329502e+00, 4.15958969e+00, 4.13735636e+00, 4.12901197e+00,
        4.11852107e+00, 4.10613561e+00, 4.08313378e+00, 4.07993926e+00,
        4.06191178e+00, 4.05310105e+00, 4.03960883e+00, 4.03092237e+00,
        4.01257079e+00, 4.00319049e+00, 3.99357696e+00, 3.98303572e+00,
        3.96252519e+00, 3.94562253e+00, 3.93874338e+00, 3.93227174e+00,
        3.90554164e+00, 3.90196940e+00, 3.87382484e+00, 3.86845387e+00,
        3.85990642e+00, 3.83996220e+00, 3.83638866e+00, 3.83135703e+00,
        3.82157806e+00, 3.81859624e+00, 3.80393146e+00, 3.78729611e+00,
        3.77941994e+00, 3.76149598e+00, 3.75825720e+00, 3.73133267e+00,
        3.72308854e+00, 3.71955067e+00, 3.71006940e+00, 3.69765827e+00,
        3.66976594e+00, 3.66123420e+00, 3.64933183e+00, 3.63935763e+00,
        3.63006856e+00, 3.61740170e+00, 3.60945254e+00, 3.59155064e+00,
        3.57488301e+00, 3.57044582e+00, 3.55840236e+00, 3.53422815e+00,
        3.52344797e+00, 3.50278593e+00, 3.50010535e+00, 3.49755759e+00,
        3.48298876e+00, 3.47905220e+00, 3.46303567e+00, 3.45210778e+00,
        3.44693045e+00, 3.41939036e+00, 3.41019313e+00, 3.38994417e+00,
        3.38031958e+00, 3.37348726e+00, 3.36502994e+00, 3.35355995e+00,
        3.34155440e+00, 3.32420230e+00, 3.30423719e+00, 3.29859320e+00,
        3.27906363e+00, 3.27564600e+00, 3.26454825e+00, 3.25582792e+00,
        3.24253348e+00, 3.23060930e+00, 3.22471924e+00, 3.21282005e+00,
        3.20352919e+00, 3.19516318e+00, 3.19144412e+00, 3.18436050e+00,
        3.16402966e+00, 3.15858376e+00, 3.14605093e+00, 3.13955409e+00,
        3.11063288e+00, 3.10651061e+00, 3.09313055e+00, 3.08022823e+00,
        3.06778768e+00, 3.05694322e+00, 3.05153813e+00, 3.05086745e+00,
        3.04338916e+00, 3.02858899e+00, 3.01198157e+00, 2.99657852e+00,
        2.98402312e+00, 2.98073257e+00, 2.96382273e+00, 2.95399643e+00,
        2.94357687e+00, 2.92976181e+00, 2.92281231e+00, 2.91588583e+00,
        2.91343448e+00, 2.90636535e+00, 2.89063390e+00, 2.87264247e+00,
        2.86779118e+00, 2.85952610e+00, 2.83365704e+00, 2.81741778e+00,
        2.81432389e+00, 2.80046069e+00, 2.78790133e+00, 2.78622139e+00,
        2.76872382e+00, 2.75894203e+00, 2.74971815e+00, 2.73900358e+00,
        2.72222412e+00, 2.71878522e+00, 2.70387523e+00, 2.69910111e+00,
        2.68412441e+00, 2.65402752e+00, 2.64698577e+00, 2.64433340e+00,
        2.63597647e+00, 2.62770090e+00, 2.61441733e+00, 2.59289681e+00,
        2.58961932e+00, 2.57741018e+00, 2.57261016e+00, 2.56762542e+00,
        2.55865031e+00, 2.52887544e+00, 2.50641338e+00, 2.49378477e+00,
        2.48124464e+00, 2.48052049e+00, 2.47013378e+00, 2.45105230e+00,
        2.44032568e+00, 2.43328763e+00, 2.42849630e+00, 2.42101957e+00,
        2.40895291e+00, 2.39176455e+00, 2.37387972e+00, 2.36548317e+00,
        2.33643789e+00, 2.31076457e+00, 2.30152967e+00, 2.29179930e+00,
        2.29166856e+00, 2.28120204e+00, 2.27193089e+00, 2.25834323e+00,
        2.25310784e+00, 2.23791393e+00, 2.23074938e+00, 2.22475822e+00,
        2.21669665e+00, 2.21086883e+00, 2.19127974e+00, 2.18470277e+00,
        2.17616391e+00, 2.16337382e+00, 2.14959926e+00, 2.14220931e+00,
        2.13315549e+00, 2.11725659e+00, 2.10776972e+00, 2.09552989e+00,
        2.09077554e+00, 2.07588643e+00, 2.07438003e+00, 2.06299073e+00,
        2.05301240e+00, 2.03619233e+00, 2.02379345e+00, 2.01485936e+00,
        2.00858207e+00, 1.99861610e+00, 1.99537789e+00, 1.96417523e+00,
        1.95874234e+00, 1.95435504e+00, 1.94813566e+00, 1.93960031e+00,
        1.92819813e+00, 1.91818728e+00, 1.91290383e+00, 1.90721084e+00,
        1.89201878e+00, 1.87902208e+00, 1.86512209e+00, 1.85949693e+00,
        1.85809402e+00, 1.83862972e+00, 1.83709038e+00, 1.82292300e+00,
        1.80962973e+00, 1.79939288e+00, 1.79498641e+00, 1.78516123e+00,
        1.76936451e+00, 1.76367540e+00, 1.75888313e+00, 1.74697359e+00,
        1.74072011e+00, 1.73853051e+00, 1.72961438e+00, 1.71640328e+00,
        1.70789308e+00, 1.69747501e+00, 1.69136455e+00, 1.68771024e+00,
        1.67316665e+00, 1.66886095e+00, 1.64761890e+00, 1.63630945e+00,
        1.63070917e+00, 1.62423427e+00, 1.61462495e+00, 1.60500711e+00,
        1.58958746e+00, 1.58567210e+00, 1.57404822e+00, 1.56795054e+00,
        1.55163340e+00, 1.54027459e+00, 1.53070874e+00, 1.51765625e+00,
        1.51456650e+00, 1.50507953e+00, 1.49657495e+00, 1.48700541e+00,
        1.48282660e+00, 1.48034701e+00, 1.45417472e+00, 1.44638689e+00,
        1.43708481e+00, 1.43079690e+00, 1.42705387e+00, 1.40253243e+00,
        1.38961745e+00, 1.38356917e+00, 1.37248825e+00, 1.36508086e+00,
        1.35621822e+00, 1.33974671e+00, 1.33385383e+00, 1.33181740e+00,
        1.32289038e+00, 1.31151825e+00, 1.30266774e+00, 1.29575171e+00,
        1.28972572e+00, 1.27395791e+00, 1.26319111e+00, 1.25992490e+00,
        1.24380681e+00, 1.23016975e+00, 1.23005940e+00, 1.21715372e+00,
        1.20767744e+00, 1.19808258e+00, 1.19486895e+00, 1.17830756e+00,
        1.16606520e+00, 1.16331107e+00, 1.15263219e+00, 1.15010409e+00,
        1.13549495e+00, 1.13429860e+00, 1.11607200e+00, 1.10713485e+00,
        1.10663241e+00, 1.09438820e+00, 1.09059946e+00, 1.08067651e+00,
        1.07506271e+00, 1.06658024e+00, 1.06159999e+00, 1.05658342e+00,
        1.04777664e+00, 1.03810761e+00, 1.03299165e+00, 1.02799203e+00,
        1.02132735e+00, 1.01299848e+00, 1.00799704e+00, 1.00000000e+00,
        1.00000000e+00, 9.97151293e-01, 9.95646653e-01, 9.92377954e-01,
        9.91093970e-01, 9.88720232e-01, 9.87577772e-01, 9.86873498e-01,
        9.78684152e-01, 9.78097749e-01, 9.75592917e-01, 9.73164909e-01,
        9.70631406e-01, 9.66533661e-01, 9.60145188e-01, 9.55902675e-01,
        9.52086327e-01, 9.48015987e-01, 9.44924709e-01, 9.28371887e-01,
        9.09968959e-01, 9.08495993e-01, 9.05365913e-01, 8.96691589e-01,
        8.81762234e-01, 8.65122835e-01, 8.53057696e-01, 8.48314426e-01,
        8.39616121e-01, 8.33471361e-01, 8.23228199e-01, 8.12138781e-01,
        7.97612585e-01, 7.84907175e-01, 7.71300265e-01, 7.60149739e-01,
        7.56924159e-01, 7.51075704e-01, 7.43328867e-01, 7.25717885e-01,
        7.15666246e-01, 7.04395015e-01, 6.99101196e-01, 6.91625676e-01,
        6.78114990e-01, 6.73228217e-01, 6.59772497e-01, 6.56037259e-01,
        6.42698362e-01, 6.26688782e-01, 6.15608898e-01, 6.11677828e-01,
        6.09907904e-01, 5.94162404e-01, 5.82797981e-01, 5.81314355e-01,
        5.76307450e-01, 5.17766691e-01, 4.98033321e-01, 4.93127928e-01,
        4.87002388e-01, 4.74889484e-01, 4.54666156e-01, 4.42244880e-01,
        4.01197648e-01, 3.96104245e-01, 3.68386761e-01, 3.52762180e-01,
        3.25557926e-01, 3.00974784e-01, 2.82709464e-01, 2.68497243e-01,
        2.45784298e-14, 4.38358974e-15, 4.38358974e-15, 4.38358974e-15,
        4.38358974e-15, 4.38358974e-15, 4.38358974e-15, 1.54534345e-15,
        1.26875514e-15, 4.55802863e-16]),
 array([[-2.21822365e-03, -1.13697491e-03, -8.25820256e-03, ...,
         -7.89214713e-03, -2.78398235e-02, -3.49679488e-04],
        [ 2.07736845e-03,  3.86642452e-04,  1.51981454e-03, ...,
         -1.56120895e-02,  9.70825293e-04, -4.30034249e-04],
        [-4.32111291e-04,  2.46676561e-03,  4.28288891e-03, ...,
          1.20613591e-02,  1.21832171e-02,  1.08416259e-03],
        ...,
        [ 0.00000000e+00,  1.68937007e-16,  1.26345440e-16, ...,
         -3.41464320e-17, -3.05757183e-17,  6.03370794e-17],
        [ 0.00000000e+00,  1.46317603e-17,  1.47046491e-16, ...,
          2.83764516e-17, -3.67864017e-17, -1.19261473e-16],
        [ 0.00000000e+00,  4.51977228e-17, -9.34932019e-18, ...,
          1.35436302e-16,  9.43091204e-17, -1.12756568e-16]]))

**Provide your response here.**

 > The user_item_matrix in the lesson contains the ratings in the scale from 1 to 10. In contrast, the project dataset contains binary data (0 and 1) about whether ot not the user has read the article. This makes a huge difference, because while the user might rarely rate the movie after watching it, here we have a better scenario where we do not rely on the user while collecting the data. We disregard how much the user liked the movie and care about which articles they have read. Even though this gives us more data, we still have a very sparce results. That's where Funk SVD comes in again.

`3.` Now for the tricky part, how do we choose the number of latent features to use?  Running the below cell, you can see that as the number of latent features increases, we obtain a lower error rate on making predictions for the 1 and 0 values in the user-item matrix.  Run the cell below to get an idea of how the accuracy improves as we increase the number of latent features.

In [ ]:
num_latent_feats = np.arange(10,700+10,20)
sum_errs = []

for k in num_latent_feats:
    # restructure with k latent features
    s_new, u_new, vt_new = np.diag(s[:k]), u[:, :k], vt[:k, :]
    
    # take dot product
    user_item_est = np.around(np.dot(np.dot(u_new, s_new), vt_new))
    
    # compute error for each prediction to actual value
    diffs = np.subtract(user_item_matrix, user_item_est)
    
    # total errors and keep track of them
    err = np.sum(np.sum(np.abs(diffs)))
    sum_errs.append(err)
    
    
plt.plot(num_latent_feats, 1 - np.array(sum_errs)/df.shape[0]);
plt.xlabel('Number of Latent Features');
plt.ylabel('Accuracy');
plt.title('Accuracy vs. Number of Latent Features');

`4.` From the above, we can't really be sure how many features to use, because simply having a better way to predict the 1's and 0's of the matrix doesn't exactly give us an indication of if we are able to make good recommendations.  Instead, we might split our dataset into a training and test set of data, as shown in the cell below.  

Use the code from question 3 to understand the impact on accuracy of the training and test sets of data with different numbers of latent features. Using the split below: 

* How many users can we make predictions for in the test set?  
* How many users are we not able to make predictions for because of the cold start problem?
* How many articles can we make predictions for in the test set?  
* How many articles are we not able to make predictions for because of the cold start problem?

In [ ]:
df_train = df.head(40000)
df_test = df.tail(5993)

def create_test_and_train_user_item(df_train, df_test):
    '''
    INPUT:
    df_train - training dataframe
    df_test - test dataframe
    
    OUTPUT:
    user_item_train - a user-item matrix of the training dataframe 
                      (unique users for each row and unique articles for each column)
    user_item_test - a user-item matrix of the testing dataframe 
                    (unique users for each row and unique articles for each column)
    test_idx - all of the test user ids
    test_arts - all of the test article ids
    
    '''
    # Your code here
    user_item_train = create_user_item_matrix(df_train)
    user_item_test = create_user_item_matrix(df_test)
    test_idx = user_item_test.index.values
    test_arts = user_item_test.columns.values
    
    return user_item_train, user_item_test, test_idx, test_arts

user_item_train, user_item_test, test_idx, test_arts = create_test_and_train_user_item(df_train, df_test)

In [ ]:
user_item_train.head()

In [ ]:
df_train.head()

In [ ]:
# How many users can we make predictions for in the test set?
len(np.intersect1d(df_train.user_id.unique(),df_test.user_id.unique()))

In [ ]:
# How many users in the test set are we not able to make predictions for because of the cold start problem?'
len(df_test.user_id.unique()) - len(np.intersect1d(df_train.user_id.unique(),df_test.user_id.unique()))

In [ ]:
# How many movies can we make predictions for in the test set?'
len(np.intersect1d(df_train.article_id.unique(),df_test.article_id.unique()))

In [ ]:
# How many movies in the test set are we not able to make predictions for because of the cold start problem?'
len(df_test.article_id.unique()) - len(np.intersect1d(df_train.article_id.unique(),df_test.article_id.unique()))

In [ ]:
# Replace the values in the dictionary below
a = 662 
b = 574 
c = 20 
d = 0 


sol_4_dict = {
    'How many users can we make predictions for in the test set?': c,# letter here, 
    'How many users in the test set are we not able to make predictions for because of the cold start problem?': a, # letter here, 
    'How many movies can we make predictions for in the test set?': b,# letter here,
    'How many movies in the test set are we not able to make predictions for because of the cold start problem?': d# letter here
}

t.sol_4_test(sol_4_dict)

`5.` Now use the **user_item_train** dataset from above to find U, S, and V transpose using SVD. Then find the subset of rows in the **user_item_test** dataset that you can predict using this matrix decomposition with different numbers of latent features to see how many features makes sense to keep based on the accuracy on the test data. This will require combining what was done in questions `2` - `4`.

Use the cells below to explore how well SVD works towards making predictions for recommendations on the test data.

In [ ]:
# fit SVD on the user_item_train matrix
u_train, s_train, vt_train = np.linalg.svd(user_item_train)# fit svd similar to above then use the cells below

In [ ]:
#ratings_mat_df = df_train.groupby(by=['user_id', 'article_id']).agg(lambda x: 1).unstack().fillna(0)
#ratings_mat = np.array(ratings_mat_df)

In [ ]:
ratings_mat = np.array(user_item_train)

In [ ]:
def FunkSVD(ratings_mat=ratings_mat, latent_features=12, learning_rate=0.0001, iters=10):
    '''
    This function performs matrix factorization using a basic form of FunkSVD with no regularization
    
    INPUT:
    ratings_mat - (numpy array) a matrix with users as rows, movies as columns, and ratings as values
    latent_features - (int) the number of latent features used
    learning_rate - (float) the learning rate 
    iters - (int) the number of iterations
    
    OUTPUT:
    user_mat - (numpy array) a user by latent feature matrix
    article_mat - (numpy array) a latent feature by article matrix
    '''
    
    # Set up useful values to be used through the rest of the function
    n_users = ratings_mat.shape[0]
    n_articles = ratings_mat.shape[1]
    num_ratings = np.count_nonzero(~np.isnan(ratings_mat))
    
    # initialize the user and movie matrices with random values
    user_mat = np.random.rand(n_users, latent_features)
    article_mat = np.random.rand(latent_features, n_articles)
    
    # initialize sse at 0 for first iteration
    sse_accum = 0
    
    # header for running results
    print("Optimizaiton Statistics")
    print("Iterations | Mean Squared Error ")
    
    # for each iteration
    for iteration in range(iters):

        # update our sse
        old_sse = sse_accum
        sse_accum = 0
        
        # For each user-movie pair
        for i in range(n_users):
            for j in range(n_articles):
                
                # if the rating exists
                if ratings_mat[i, j] > 0:
                    
                    # compute the error as the actual minus the dot product of the user and movie latent features
                    diff = ratings_mat[i, j] - np.dot(user_mat[i, :], article_mat[:, j])
                    
                    # Keep track of the sum of squared errors for the matrix
                    sse_accum += diff**2
                    
                    # update the values in each matrix in the direction of the gradient
                    for k in range(latent_features):
                        user_mat[i, k] += learning_rate * (2*diff*article_mat[k, j])
                        article_mat[k, j] += learning_rate * (2*diff*user_mat[i, k])

        # print results for iteration
        print("%d \t\t %f" % (iteration+1, sse_accum / num_ratings))
        
    return user_mat, article_mat

user_mat, article_mat = FunkSVD(latent_features=15, learning_rate=0.005)

In [ ]:
def predict_rating(user_matrix, article_matrix, user_id, article_id):
    '''
    INPUT:
    user_matrix - user by latent factor matrix
    article_matrix - latent factor by article matrix
    user_id - the user_id from the reviews df
    article_id - the article_id according the article df
    
    OUTPUT:
    pred - the predicted rating for user_id-article_id according to FunkSVD
    '''
    # Use the training data to create a series of users and movies that matches the ordering in training data
    user_ids_series = np.array(user_item_train.index)
    article_ids_series = np.array(user_item_train.columns)
    
    # User row and Movie Column
    user_row =  np.where(user_ids_series == user_id)[0][0]
    article_col = np.where(article_ids_series == article_id)[0][0]
    
    # Take dot product of that row and column in U and V to make prediction
    pred = np.dot(user_matrix[user_row, :], article_matrix[:, article_col])
       
    return pred

In [ ]:
pred_val = predict_rating(user_mat, article_mat, 20, 15.0)
pred_val

In [ ]:
get_article_names([15.0])[0]

In [ ]:
get_user_articles([20])[1][0]

In [ ]:
get_user_articles([2])

In [ ]:
def print_prediction_summary(user_id, article_id):
    '''
    INPUT:
    user_id - the user_id from the reviews df
    article_id - the article_id according the article df
    prediction - the predicted rating for user_id-article_id
    
    OUTPUT:
    None - prints a statement about the user, article, and prediction made
    
    '''
    pred_val = predict_rating(user_mat, article_mat, user_id, article_id)
    article_name = get_article_names([article_id])[0]
    
    print("For user {} we predict a {} rating for the article {}.".format(user_id, round(pred_val, 2), str(article_name)))
    
    ''''
    if pred_val == 1:
        print('User {} have read or would like to read the article "{}".'.format(user_id, str(article_name)))
    
    else:
        print('For user {} we will NOT reccomend the article "{}".'.format(user_id, str(article_name)))  
    
    '''

In [ ]:
print_prediction_summary(20,15.0)

In [ ]:
print_prediction_summary(20,3.0)

In [ ]:
print_prediction_summary(1,12.0)

In [ ]:
def validation_comparison(val_df, num_preds):
    '''
    INPUT:
    val_df - the validation dataset created in the third cell above
    num_preds - (int) the number of rows (going in order) you would like to make predictions for
    
    OUTPUT:
    Nothing returned - print a statement about the prediciton made for each row of val_df from row 0 to num_preds
    '''
    val_users = np.array(val_df['user_id'])
    val_movies = np.array(val_df['movie_id'])
    val_ratings = np.array(val_df['rating'])
    
    
    for idx in range(num_preds):
        pred = predict_rating(user_mat, movie_mat, val_users[idx], val_movies[idx])
        print("The actual rating for user {} on movie {} is {}.\n While the predicted rating is {}.".format(val_users[idx], val_movies[idx], val_ratings[idx], round(pred))) 

            
# Perform the predicted vs. actual for the first 6 rows.  How does it look?
validation_comparison(val_df, 6)

In [ ]:
# Perform the predicted vs. actual for the first 7 rows.  What happened?
validation_comparison(val_df, 7)

In [ ]:
# Use these cells to see how well you can use the training 
# decomposition to predict on test data

In [ ]:
#  Rows that match the test set
test_idx = user_item_test.index
row_idxs = user_item_train.index.isin(test_idx)
u_test = u_train[row_idxs, :]
#  Columns that match the test set
test_col = user_item_test.columns
col_idxs = user_item_train.columns.isin(test_col)
vt_test = vt_train[:, col_idxs]
# Test data
train_idx = user_item_train.index
row_idxs_2 = user_item_test.index.isin(train_idx)
sub_user_item_test = user_item_test.loc[row_idxs_2]

`6.` Use the cell below to comment on the results you found in the previous question. Given the circumstances of your results, discuss what you might do to determine if the recommendations you make with any of the above recommendation systems are an improvement to how users currently find articles?

**Your response here.**

<a id='conclusions'></a>
### Extras
Using your workbook, you could now save your recommendations for each user, develop a class to make new predictions and update your results, and make a flask app to deploy your results.  These tasks are beyond what is required for this project.  However, from what you learned in the lessons, you certainly capable of taking these tasks on to improve upon your work here!


## Conclusion

> Congratulations!  You have reached the end of the Recommendations with IBM project! 

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the [rubric](https://review.udacity.com/#!/rubrics/2322/view). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.


## Directions to Submit

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Recommendations_with_IBM.ipynb'])